<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Seeds</title>
</head>
<body>
    <form action="/dashboard " method="POST">
        <div>
            <label for="title">Seed ID</label>
            <input type="number" id="seedID" name="seeds[seedID]">
        </div>
        <div>
            <label for="title">name</label>
            <input type="text" id="name" name="seeds[name]">
        </div>
        <div>
            <label for="title">Batch Number</label>
            <input type="number" id="batchNum" name="seeds[batchNum]">
        </div>
        <div>
            <label for="title">Experation Date</label>
            <input type="date" id="experationDate" name="seeds[experationDate]">
        </div>
        <div>
            <label for="title">Weight in bulk</label>
            <input type="number" id="weight" name="seeds[weight]">
        </div>
        <div>
            <label for="title">Time to Harvest</label>
            <input type="number" id="timeToHarvest" name="seeds[timeToHarvest]">
        </div>
        <div>
            <label for="title">Image Link</label>
            <input type="text" id="image" name="seeds[image]">
        </div>

        <button> Add Seed</button>

    </form>
</body>
</html>